{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<body>
    <div class="container-fluid">

    <div class="row">
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title"  id="row-chart-title">
            Cell Title
          </div>
          <div class="chart-stage">
<!--            <img data-src="holder.js/100%x650/white"> -->
              <div id="chart-type-total"></div>
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title" id="time-series-title">
                Cell Title
              </div>
              <div class="chart-stage">
<!--                <img data-src="holder.js/100%x240/white"> -->
                <div class="col-sm-1"></div>
                <div class="col-sm-10"><div id="chart-line-hitsperday"></div></div>
                <div class="col-sm-1"></div>
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title" id="pie-chart-title">
                Cell Title
              </div>
              <div class="chart-stage">
                <div id="chart-ring-year"></div>
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="chart-wrapper">
              <div class="chart-title" id="row-chart-title">
                Cell Title
              </div>
              <div class="chart-stage">
<!--                <img data-src="holder.js/100%x120/white"> -->
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>
<!--          
          <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">
                Cell Title
              </div>
              <div class="chart-stage">
                <img data-src="holder.js/100%x120/white">
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>
-->          
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">
                Cell Title
              </div>
              <div class="chart-stage">
                <img data-src="holder.js/100%x120/white">
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">
                Cell Title
              </div>
              <div class="chart-stage">
                <img data-src="holder.js/100%x120/white">
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="chart-wrapper">
              <div class="chart-title">
                Cell Title
              </div>
              <div class="chart-stage">
                <img data-src="holder.js/100%x120/white">
              </div>
              <div class="chart-notes">
                Notes about this chart
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
     <hr>

    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

	<script>
	  $.ajax(
	  {url: "/data",
	  success: function(data) {
	  
	  console.log(JSON.parse(data));
	  json_data = JSON.parse(data);
	  var ndx = crossfilter(json_data);
	  var parseDate = d3.time.format("%Y-%m-%d").parse;
	  var parseDateMth = d3.time.format("%Y-%m").parse;
	  
	  json_data.forEach(function(d) {
	  d.date = parseDate(d.date);
	  d.Year = d.date.getFullYear();
	  d.YearMth = parseDateMth(d.Year+'-'+d.date.getMonth()+1);
	  });

	  var dateDim = ndx.dimension(function(d) {return d.date;});
	  var quant = dateDim.group().reduceSum(function(d) {return d.value;});

	  var yearDim = ndx.dimension(function(d) {return +d.Year});
	  var year_total = yearDim.group().reduceSum(function(d) {return d.value;});

	  var minDate = dateDim.bottom(1)[0].date;
	  var maxDate = dateDim.top(1)[0].date;

	  var minYear = yearDim.bottom(1)[0].Year;
	  var maxYear = yearDim.top(1)[0].Year;
	  console.log(maxYear);
	  var hitslineChart = dc.lineChart("#chart-line-hitsperday");

	  hitslineChart
	  .width(1100).height(240)
	  .dimension(dateDim)
	  .group(quant,"quant")
	  .elasticX(true)
	  .renderArea(false)
	  .x(d3.time.scale().domain([minDate,maxDate]))
	  .brushOn(true)
//	  .legend(dc.legend().x(50).y(10).itemHeight(13).gap(5))
	  .yAxisLabel("Amount per month");

	  dc.renderAll();
	  
	  }})
	</script>
	<script>
	  Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
	</script>
{% endblock %}
